<div class="header-container">
  <div class="logo" (click)="goToHome()">Stack Overflow</div>
  <img class="stack" src="assets/images/favpng_social-media-stack-overflow.png" alt="" />
  <img class="account" (click)="goToUser()" src="https://www.transparentpng.com/thumb/user/gray-user-profile-icon-png-fP8Q1P.png" alt="gray user profile icon png @transparentpng.com">
  <button class="logout" (click)="logout()">Log out</button>
  <button class="new" (click)="goToQuestionForm()">Ask a question!</button>
</div>
