<div class="question">
  <div class="left">
    <div class="top">
      <app-vote [data]="data" [question]="1"></app-vote>
      <div class="answers">{{data.answers.length}} answers</div>
    </div>
    <div class="bottom">
      <div class="author">
        <div>{{data.author.rating}}</div>
        <a [routerLink]="['/account', data.author.userId]">{{ data.author.firstName +" " +data.author.lastName}}</a>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="title" >
      <ng-container *ngIf="showRoutingLink">
        <a [routerLink]="['/question', data.id]">{{ data.title }}</a>
      </ng-container>
      <ng-container *ngIf="!showRoutingLink">
        {{ data.title }}
      </ng-container>
    </div>
<!--    <div class="question-tags">-->
<!--      <span class="tag" *ngFor="let tag of data.tags">{{ tag }}</span>-->
<!--    </div>-->
    <div class="description">
      <div class="text">{{ data.text }}</div>
<!--      <ng-container *ngIf="showRoutingLink">-->
<!--        <div class="answers" *ngFor="let answer of data.answers">{{answer}}</div>-->
<!--      </ng-container>-->
    </div>
    <div class="creation">{{data.creation}}</div>
  </div>
  <ng-container *ngIf="isOwner || isMod">
    <button class="btn-edit" (click)="edit()">Edit</button>
    <button class="btn-delete" (click)="delete()">Delete</button>
  </ng-container>
</div>
