.question {
  display: flex;
  flex-wrap: wrap;

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 5px;

    .top {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 20px;


      .answers {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        color: #333333;

      }
    }

    .bottom {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;

      .author {
        display: flex;
        margin-top: 65px;
      }
    }
  }

  .right {
    flex: 6;
    display: flex;
    flex-direction: column;
    margin-left: 20px;

    .title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .question-tags {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;

      //.tag {
      //  background-color: #ddd;
      //  color: #333;
      //  padding: 5px 10px;
      //  border-radius: 10px;
      //  margin-right: 10px;
      //  margin-bottom: 10px;
      //}
    }

    .description {
      margin-bottom: 20px;
    }

    .creation {
      font-style: italic;
      margin-bottom: 20px;
    }
  }

  .btn-edit, .btn-delete {
    width: 75px;
    background-color: #FDC827;
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 9px;
    border: 2px #383838;
    cursor: pointer;
  }
  .btn-edit:hover, .btn-delete:hover {
    background-color: #fff;
    color: #FDC827;
  }
}
