<div class="question">
  <div class="left">
    <div class="top">
      <app-vote [data]="data.vote"></app-vote>
      <div class="answers">{{data.answers.length}} answers</div>
    </div>
    <div class="bottom">
      <div class="author">{{ data.author.firstName }}</div>
    </div>
  </div>
  <div class="right">
    <div class="title" >
      <ng-container *ngIf="showRoutingLink">
        <a [routerLink]="['/question', data.id]">{{ data.title }}</a>
      </ng-container>
      <ng-container *ngIf="!showRoutingLink">
        {{ data.title }}
      </ng-container>
    </div>
<!--    <div class="question-tags">-->
<!--      <span class="tag" *ngFor="let tag of data.tags">{{ tag }}</span>-->
<!--    </div>-->
    <div class="description">
      <div class="text">{{ data.text }}</div>
      <div class="answers" *ngFor="let answer of data.answers">{{answer}}</div>
    </div>
    <div class="creation">{{data.creation}}</div>
  </div>
</div>
